@import '../assets/css/reset.css';
@import '../assets/css/demo.css';
@import '../../stylesheets/scss/grid.scss';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 25;
$column-width: 30px;
$gutter-width: 10px;

// Remove the definition below for a pixel-based layout
$total-width: 1000px;


////////////
// LAYOUT //
////////////

// header
header#top {
	@include column(25);
	margin-bottom: 1em;
}

// main and sidebar
#maincolumn {
	@include column(14);
}
#sidebar {
	@include column(11);
}
