@import url(../assets/css/reset.css);
@import url(../assets/css/demo.css);
body {
  width: 100%;
  *zoom: 1; }
  body:before, body:after {
    content: "";
    display: table; }
  body:after {
    clear: both; }

header#top {
  display: inline;
  float: left;
  width: 990px;
  margin: 0 5px;
  margin-bottom: 1em; }

#maincolumn {
  display: inline;
  float: left;
  width: 550px;
  margin: 0 5px; }

#sidebar {
  display: inline;
  float: left;
  width: 430px;
  margin: 0 5px; }
