@import '../assets/css/reset.css';
@import '../assets/css/demo.css';
@import '../../stylesheets/scss/grid.scss';


//////////
// GRID //
//////////

// Specify the number of columns and set column and gutter widths
$columns: 25;
$column-width: 30;
$gutter-width: 10;

// Remove the definition below for a pixel-based layout
$total-width: 100%;


////////////
// LAYOUT //
////////////

// center the contents
div.center {
	max-width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

// header
header#top {
	margin-bottom: 1em;
}

// main column & sidebar
#maincolumn {
	@include column(4);
}
#sidebar {
	@include column(21);
}
