@import url(../assets/css/reset.css);
@import url(../assets/css/demo.css);
div.center {
  max-width: 1000px;
  margin: 0 auto;
  overflow: hidden; }

header#top {
  margin-bottom: 1em; }

#maincolumn {
  display: inline;
  float: left;
  width: 15%;
  margin: 0 0.5%;
  *width: 14.94792%;
  *margin: 0 0.44792%; }

#sidebar {
  display: inline;
  float: left;
  width: 83%;
  margin: 0 0.5%;
  *width: 82.94792%;
  *margin: 0 0.44792%; }
