@import url(../assets/css/reset.css);
@import url(../assets/css/demo.css);
header#top {
  margin-bottom: 1em; }

#maincolumn {
  display: inline;
  float: left;
  width: 72.91667%;
  margin: 0 1.04167%;
  *width: 72.86458%;
  *margin: 0 0.98958%; }

#sidebar {
  display: inline;
  float: left;
  width: 22.91667%;
  margin: 0 1.04167%;
  *width: 22.86458%;
  *margin: 0 0.98958%; }
