<html lang="en">
	<meta charset="utf-8" />
	<head>
    	<title><%= pageTitle %></title>
	</head>
	<body bgcolor="#282828" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
	<center>
	<!-- Save for Web Slices (前端界cn01-1306.png) -->
	<table id="__01" width="1000" border="0" cellpadding="0" cellspacing="0" background="http://img01.taobaocdn.com/tps/i1/T1cChCFodgXXaEH..b-1000-30.png">
		<tr>
			<td style="height:287px;background:url(http://img01.taobaocdn.com/tps/i1/T1kz8GFbtgXXX1EU7t-1000-287.jpg)">
				<table>
					<tr>
						<td style="width:710px;height:180px"></td>
						<td></td>
					</tr>
					<tr>
						<td></td>
						<td style="color:#fff;font-size:22px;line-height:30px">
							<p><%= date %></p>
							<p>刊号：<span style="font-size:16px"><%= cn %></span></p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td align="center">
    		<%- body %>
			</td>
		</tr>
		<tr>
			<td style="height:200px;background:url(http://img02.taobaocdn.com/tps/i2/T17AJGFfteXXXBuT7t-1000-200.jpg)">
				<table>
					<tr><td style="width:170px;height:54px"></td><td></td></tr>	
					<tr><td></td><td style="color:#909192"><%= cn %></td></tr>	
				</table>
			</td>
		</tr>
	</table>
	<!-- End Save for Web Slices -->
	</center>
</body>
</html>
