#top {
	background-color: black;
}
h1 {
	font-family: Georgia;
	font-size: 2em;
	padding: 1em;
	color: white;
}
h1 a {
	color: white;
	text-decoration: none;
}
h2 {
	font-family: Georgia;
	font-size: 1.5em;
	padding: 5.25em 0;
	color: #666;
	text-align: center;
	border:1px #000 solid;
}
ul#boxes li {
	font-family: Georgia;
	font-size: 1.33em;
	padding: 2.5em 0;
	color: #999;
	background-color: #e5e5e5;
	text-align: center;
}
.center{
	max-width:1000px;
	margin:0 auto;
	background: url("../img/1000_25_5_5.png") left top repeat-y;
	overflow:hidden;
}
.list{
	padding:20px 5px;
}
.list li{
	margin:20px 0;
}
